# ------------------------------------------------------------------------------------------------
# auth-srv k8s deployment file for BigTix platform microservices E-Commerce project
# @since auth-micro-start--JP
# ------------------------------------------------------------------------------------------------

apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-dpl
spec:
  replicas: 1 # for now
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: 1ntellijosh/bigtix-auth-srv

---

apiVersion: v1
kind: Service
metadata:
  name: auth-srv
spec:
  selector:
    app: auth
  ports:
    - name: auth
      protocol: TCP
      port: 3000
      targetPort: 3000
