# ------------------------------------------------------------------------------------------------
# client app k8s deployment file for BigTix platform E-Commerce project
# @since auth-micro-start--JP
# ------------------------------------------------------------------------------------------------

apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-dpl
spec:
  replicas: 1 # for now
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: 1ntellijosh/bigtix-client-app
          imagePullPolicy: IfNotPresent
          env:
            - name: SERVER_API_BASE_URL
              value: "http://ingress-nginx-controller.ingress-nginx.svc.cluster.local"

---

apiVersion: v1
kind: Service
metadata:
  name: client-srv
spec:
  selector:
    app: client
  ports:
    - name: client
      protocol: TCP
      port: 3000
      targetPort: 3000